.uiButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: var(--clr-green-primary);
    border: 1px solid var(--clr-green-primary);
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.75rem;
    transition: 0.2s ease-in-out;
    transition-property: background-color, transform;
    height: 36px;
    min-width: 120px;
    letter-spacing: 1px;
    user-select: none;
}

.uiButton:hover {
    background-color: var(--clr-green-primary-hover);
}

.uiButton:active {
    transform: translateY(2px);
}

.uiButton:focus-visible {
    outline: 3px solid var(--clr-green-secondary);
    outline-offset: 2px;
}


.uiButton:disabled {
    pointer-events: none;
    opacity: 0.5;
}