:root {
    --clr-green-primary: #4bb34b;
    --clr-green-primary-hover: #309230FF;;
    --clr-green-secondary: #9bcb9b;
}

html {
    box-sizing: border-box;
    font-size: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
}


body {
    background-color: #222222;
    margin: 0;
    padding: 0;
}